<!doctype html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap"
    rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


  <title>{% block title %}

    {% endblock %}</title>

</head>

<body id="bg" style="background-image: url({% static 'images/bg.png' %});">
  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h1>Brocamp</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Corrazone</a>
          <a class="nav-link" href="#">InQ</a>
          <a class="nav-link" href="#">Cubes</a>
          <a class="nav-link" href="#">Info Park</a>

        </div>
        <form class="d-flex" id="authstyle">
          {% block navbarcontent %}

          {% endblock %}
        </form>
      </div>
    </div>
  </nav>

  <div>
    <div class="container-fluid  mt-3">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-7">
          {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'error' %}
          <div class="alert alert-danger">{{message}}</div>
          {% else%}
          <div class="alert alert-{{message.tags}}">{{message}}</div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
  </div>

  <script>
    $(document).ready(function () {
      $(".alert").hide(4000);
    });
  </script>



</body>

</html>